<nav>
    <div class="site-title">
        <a href="/"><h1 class="hover-underline-animation">Luhem Blog</h1></a>
        <p>A Luhem Tech Site</p>
    </div>

    <ul>
        <li class="hover-underline-animation"><a href="/">Blogs</a></li>
        <li class="hover-underline-animation"><a href="/about">About</a></li>
        <li class="hover-underline-animation"><a href="/blogs/create">New Blogs</a></li>
    </ul>
</nav>